hr {
  width: 10%;
  border: #41eef7 solid 1px;
  margin: 2% auto;
}
.pos-1 {
  width: 80px;
  position: absolute;
  bottom: 50px;
  left: 100px;
  opacity: 50%;
  transform: translatey(0px);
	animation: float-animation 6s ease-in-out infinite;
}
.pos-2 {
  width: 65px;
  position: absolute;
  bottom: 120px;
  right: 100px;
  opacity: 50%;
  transform: translatey(0px);
	animation: float-animation 6s ease-in-out infinite;


}
.pos-3 {
  width: 50px;
  position: absolute;
  bottom: 350px;
  left: 200px;
  opacity: 20%;
  transform: translatey(0px);
	animation: float-animation 6s ease-in-out infinite;


}
.pos-4 {
  width: 80px;
  position: absolute;
  bottom: 250px;
  left: 500px;
  opacity: 80%;
  transform: translatey(0px);
	animation: float-animation 6s ease-in-out infinite;
 

}
body {
    /* font-family: 'Poppins', sans-serif; */
    font-family: 'Roboto', sans-serif;


    overflow-x: hidden;
}
h2 {
  color: #8b8b8b;
}
h4 {
  color: #737373;

}
h6 {
  font-size: 0.8rem;
}
.text-grey {
  color: rgb(200, 200, 200);
}
.main-logo {
    max-width: 150px;
    max-height: 60px;
}
p span{
  color: rgb(139 211 215);
}

.lead {
    color: rgb(182, 182, 182);
}

.text-wrap {
    width: 60%;
}

.promotion {
  background:linear-gradient(#000000, #00e3c1);

}
.notice {
  background-color: #006975;

}
.notice img {
  width: 1.2rem;
  height: 2rem;
}

.cta {
    background-color: #0DE6BC;
    border: none;
    border-radius: 48px;
    font-weight: bold;
    color: white;
}
.cta2{
    background-color: #0D9EE6;
    border: none;
    border-radius: 48px;
    font-weight: bold;
    color: white;

}
/* Hero Section */
.btn {
  z-index: 2;
}
.btn-outline {
  color: rgb(255, 255, 255);
  border: none;
  border-color: rgb(48, 211, 124);
}
.hero {
  position: relative;
  background:linear-gradient(#067989, #000000);
    /* background:linear-gradient(#1073B2, #00F0DE); */
}
.hero-img {
  max-width: 100%;
  max-height: 100%;
  z-index: -1;
}
span {
    color: #0DE6BC;
}
.cta-btn {
  background-color: #89dd78;
}

.icon-adjust {
  margin-top: -3%;
}


.button-group {
    margin: 5% 2%;
    height: 2.25em;
    width: 9em;
}


.user-interface-section {
    /* background-color: #0B99BF; */
    background:linear-gradient(#067989, #000000);
    
    /* background-color: #3799ee;
    background:linear-gradient(#000000, #008ce3); */

}
.user-interface-section p {
  font-size: 1.1rem;
}

.questions {
  background-color: #121822;
}
.feature-section {
  background-color: #121822;



}
.special-text {
  color: #a7a7a7;
}
.feature-icon {
    width: 45px;
}
.packages {
    width: 150%;
    height: 100%;
    opacity: 100%;
}
.categories {
  background: url(./images/abstract-1.jpg);
  background-repeat: none;
  background-position: 20%;
}
.ref-logo {
  max-width: 150px;
  max-height: 1000px;
}

@media only screen and (max-width: 600px) {
  #testimonial {
    display: none;
    
  }
  .pos-4 {
    display: none;
  }
}
.services {
  background-color: white;
 
}
#footer {
  background-color: #212529;
  
}

 .footer-icon {
  width: 15px;
 }
 .sage-logo {
  width: 30%;
 }
 .footer-head {
  font-size: 1rem;
 }
 
 @keyframes float-animation {
	0% {
		
		transform: translatey(0px);
	}
	50% {
		
		transform: translatey(-20px);
	}
	100% {
		
		transform: translatey(0px);
	}
}

/* Contact Form */
.contact-us-form{
  background-color: #62d3ff;
}
label {
  color: #ffffff;
}
.user-interface {
  background-color:#067989;
}
.user-interface p {
  font-size: 1.1rem;
}

.header-item {
  background-color: #fff;
}
.qanda {
  font-size: 1.1em;
}